{% extends 'base.html.twig' %}

{% block title %}Hello {{ categ.name}}!{% endblock %}

{% block body %}

    <div class="container text-info mb-3 mt-5">
        <h1>Hello, vous êtes sur la catégorie :  {{ categ.name }}! ✅</h1>

    </div>
{% endblock %}
