{% extends 'base.html.twig' %}

{%  block title %} Un article {% endblock %}

{%  block body %}

    <div class="container mt-5">
        <h2>{{ article.title }}</h2>
        <h4 class="text-info"><u>{{ article.category.name }}</u></h4>
        <p>{{ article.content }}</p>
    </div>

{% endblock %}