{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <div class="container">
<h1 align="center" class="mt-5 pt-5">Hello WCS</h1>
    </div>
{% endblock %}
